body{
  font-family: 'Open Sans', sans-serif;
}

.main {
	padding-top: 150px;
	margin: 0 auto;
    width: 450px;
	text-align: center;
}

.main img {
	width: 320px;
}

.search { 
	position: relative; 
	width:440px; 
}                                                      
.search input { 
	border:none: background:#fff; 
	height: 40px; 
	display:block; 
	width: 450px; 
	box-sizing: border-box 
}
.search i {
	width: 25px;
	position: absolute; 
	top: 8px; 
	right: 5px; 
	bottom:2px; 
}

button {
	margin-top: 20px;
	color: #757575;
	font-weight: bold;
	border: none;
	border-radius: 2px;
	height: 35px;
}    

li {
	float:right;
	display: inline;
    padding: 8px;
} 

li img {
	width: 30px;
}                        

p {
	margin-top: 25px;
}

a {
	color:#000000;
	text-decoration:none;
} 

a:hover {
	text-decoration:underline;
}